<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HamburguesasMundo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9CCA77C91C0F9CF90044C4F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CCA77DD1C0F9CF90044C4F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CCA77E81C0F9CFA0044C4F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
